#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel
          | Contactez-nous !
      .modal-body
        form.form-horizontal.col-sm-12
          .form-group
            label Nom
            input.form-control.required(placeholder='Votre Nom', data-placement='top', data-trigger='manual', data-content='3 caracteres minimun', type='text')
          .form-group
            label Message
            textarea.form-control(placeholder='Votre Message..', data-placement='top', data-trigger='manual')
          .form-group
            label E-Mail
            input.form-control.email(placeholder='email@you.com (Pour que l\'on puisse vous contacter)', data-placement='top', data-trigger='manual', data-content='Must be a valid e-mail address (user@gmail.com)', type='text')
          .form-group
            label Phone
            input.form-control.phone(placeholder='Votre Téléphone', data-placement='top', data-trigger='manual', data-content=' (99.99.99.99.99)', type='text')
          .form-group
            button.btn.btn-success.pull-right(type='submit') Envoyer!
            p#form-error.help-block.pull-left.text-danger.hide   Le formulaire n'est pas valide.
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Fermer
