extends layout

block content
    .container.marketing.about-us
      // Introduction Row
      .row
        .col-lg-12
          h1.page-header
            | About us  
            &nbsp;
            small It's Nice to Meet You!
      // Team Members Row
      .row.profil
        .col-lg-12
          h2.page-header Team Members !
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='/images/profil_lea.jpg', alt='')
          h3
            | Léa LAPLISE
            &nbsp;
            small Dev Web
          p
            | Developer for 6 years, I specialized in web.
            | What I like ? The constant evolution of the Internet world, constantly challenge himself and see a Results instantly!
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='/images/profil_alex.png', alt='')
          h3
            | Alexandre CORNILLON
            &nbsp;
            small Dev JAVA8 Spring
          p
            | I like learn new technologie and improved my skills.
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='http://placehold.it/200x200', alt='')
          h3
            | Benjamin GODINEAU
            &nbsp;
            small Dev node.js
          p
            | What does this team member to? Keep it short! This is also a great spot for social links!
      hr(class="featurette-divider")
      .activities
        .col-lg-12
          h2.page-header Activities !
        .row
          .col-lg-12
            .col-lg-6
              p
               |We are the leader in the distribution of cultural, leisure and technology for the general public in stores and on the internet, both in France and abroad: Spain, Portugal, Brazil, Belgium, Switzerland, Morocco, Qatar and Ivory Coast.
              p
               |As part of the plan "GrootNode 2015", we have expanded our developing world and Design House offering a range of innovative small appliances and design products. We have also introduced new areas, Kids, dedicated to children of 0-13 years which include both games, toys, books, DVDs, music, technical products and video games.
              p
               |In 2015, we deployed on all our 86 French stores corners dedicated to connected objects, centered on sports, wellness and recreation, as well as spaces offering an open telephony. At the end of 2015, we had also deployed nearly 70 stationery spaces
            .col-lg-6
              img(src='/images/imggroupefnac_activites_05.jpg')
        hr(class="featurette-divider")
        .row
          .col-lg-12
            .col-lg-6
              img(src='/images/imggroupefnac_activites_05.jpg')
            .col-lg-6
              p
               |We are the leader in the distribution of cultural, leisure and technology for the general public in stores and on the internet, both in France and abroad: Spain, Portugal, Brazil, Belgium, Switzerland, Morocco, Qatar and Ivory Coast.
              p
               |As part of the plan "GrootNode 2015", we have expanded our developing world and Design House offering a range of innovative small appliances and design products. We have also introduced new areas, Kids, dedicated to children of 0-13 years which include both games, toys, books, DVDs, music, technical products and video games.
              p
               |In 2015, we deployed on all our 86 French stores corners dedicated to connected objects, centered on sports, wellness and recreation, as well as spaces offering an open telephony. At the end of 2015, we had also deployed nearly 70 stationery spaces
