extends layout

block content
    .container.marketing
      // Introduction Row
      .row
        .col-lg-12
          h1.page-header
            | Qui sommes-nous ?
            &nbsp;
            small Ravi de vous rencontrer !
      // Team Members Row
      .row
        .col-lg-12
          h2.page-header Notre Equipe
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='http://placehold.it/200x200', alt='')
          h3
            | Léa LAPLISE
            &nbsp;
            small Dev Web
          p
            | What does this team member to? Keep it short! This is also a great spot for social links!
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='http://placehold.it/200x200', alt='')
          h3
            | Alexandre CORNILLON
            &nbsp;
            small Dev JAVA
          p
            | What does this team member to? Keep it short! This is also a great spot for social links!
        .col-lg-4.col-sm-6
          img.img-circle.img-responsive.img-center(src='http://placehold.it/200x200', alt='')
          h3
            | Benjamin GODINEAU
            &nbsp;
            small Dev .... ?
          p
            | What does this team member to? Keep it short! This is also a great spot for social links!
      hr(class="featurette-divider")
      .row
        .col-lg-12
          .col-lg-6
            p
             |Nous sommes le leader de la distribution de biens culturels, de loisirs et de technologies pour le grand public en magasin et sur internet, aussi bien en France qu’à l’international : en Espagne, au Portugal, au Brésil, en Belgique, en Suisse, au Maroc, au Qatar et en Côte d’Ivoire
            p
             |Dans le cadre du plan « GrootNode 2015 », nous avons élargi notre gamme en développant des univers Maison et Design qui proposent une offre de produits de petit électroménager innovant et design. Nous avons également introduit de nouveaux espaces, Kids, dédiés aux enfants de 0-13 ans qui regroupent à la fois des jeux, jouets, livres, DVD, musique, produits techniques et jeux vidéo.
            p
             |En 2015, nous avons déployé sur l’ensemble de nos 86 magasins français des corners dédiés aux objets connectés, centrés sur le sport, le bien-être et les loisirs, ainsi que des espaces proposant une offre de téléphonie nue. A fin 2015, nous avions également déployé près de 70 espaces papeterie
          .col-lg-6
            img(src='/images/imggroupefnac_activites_05.jpg')
      hr(class="featurette-divider")
      .row
        .col-lg-12
          .col-lg-6
            img(src='/images/imggroupefnac_activites_05.jpg')
          .col-lg-6
            p
             |Nous sommes le leader de la distribution de biens culturels, de loisirs et de technologies pour le grand public en magasin et sur internet, aussi bien en France qu’à l’international : en Espagne, au Portugal, au Brésil, en Belgique, en Suisse, au Maroc, au Qatar et en Côte d’Ivoire
            p
             |Dans le cadre du plan « GrootNode 2015 », nous avons élargi notre gamme en développant des univers Maison et Design qui proposent une offre de produits de petit électroménager innovant et design. Nous avons également introduit de nouveaux espaces, Kids, dédiés aux enfants de 0-13 ans qui regroupent à la fois des jeux, jouets, livres, DVD, musique, produits techniques et jeux vidéo.
            p
             |En 2015, nous avons déployé sur l’ensemble de nos 86 magasins français des corners dédiés aux objets connectés, centrés sur le sport, le bien-être et les loisirs, ainsi que des espaces proposant une offre de téléphonie nue. A fin 2015, nous avions également déployé près de 70 espaces papeterie
