extends layout

block content
  html
    body
      .container
        .row
          .col-md-12
            h1 Catégorie de Produits
          hr(class="featurette-divider")
        .row
          .col-xs-8.col-xs-offset-2
            .input-group
              .input-group-btn.search-panel
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  span#search_concept Category
                  span.caret
                if amazonIndex
                  ul.dropdown-menu(role='menu')
                    each amzIndex in amazonIndex
                      li
                        a(href= '#' + amzIndex)= amzIndex
              input#search_param(type='hidden', name='search_param', value='all')
              input.form-control(type='text', name='x', placeholder='Search term...')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  span.glyphicon.glyphicon-search
        if details
          - var count = -1
          ul
          each detail, z in details
            if count == 2
              .row
                .col-md-12
              - count= 0
              +element(titles[z], detail.ItemLookupResponse.Items[0], prices[z])
            else
              - count= count + 1
              +element(titles[z], detail.ItemLookupResponse.Items[0], prices[z])

mixin element (title, i, price)
  .col-sm-6.col-md-4
    .thumbnail
      img.img-responsive(src= i.Item[0].LargeImage[0].URL[0])
      .caption
        .row
          .col-md-6.col-xs-6
            h3 
              label= title
          .col-md-6.col-xs-6.price
            h3
              label= price
        - var tmpDescriptif = ""
        each u,t in i.Item[0].ItemAttributes[0]
          if typeof(u) === 'string'
            - tmpDescriptif = tmpDescriptif + ", " + t + ":" + u
        p= tmpDescriptif
        .row
          .col-md-6
            a.btn.btn-primary.btn-product
              span.glyphicon.glyphicon-thumbs-up
              |  Like
          .col-md-6
            a.btn.btn-success.btn-product(href='#')
              span.glyphicon.glyphicon-shopping-cart
              |  Buy